body {
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    background-color: rgb(8, 7, 8); 
    align-items: center;
    justify-content: center;
    flex-direction: column
}
h1 {
    color: rgb(222, 141, 88);
    width: 90%;
    text-align: center;
}
button {
    background-color:rgb(221, 189, 213);
    border-radius: 8px;
    border-color: rgba(255, 255, 255, 0);
    margin-bottom: 1rem;
    width: 126px;
    height: 24px;
    font-weight: 400;
}
input {
    width: 120px;
    background-color:rgba(253, 253, 253, 0);
    height: 24px;
    margin-bottom: 8px;
    border-radius: 8px;
    border-color: rgb(221, 189, 213);
}
p {
    margin-top: -8px;
    margin-bottom: 44px;
    font-size: small;
}
img {
    width: 100px;
    margin-bottom: 8px;
}