body {
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    background-color: rgb(8, 7, 8); 
    align-items: center;
    justify-content: center;
    flex-direction: column
}
h1 {
    color: rgb(222, 141, 88);
    margin-top: 0px;
    padding: 1rem;
    width: 100%;
    text-align: center;
}
button {
    background-color:rgb(221, 189, 213);
    border-radius: 12px;
    border-color: rgba(255, 255, 255, 0);
    margin-bottom: 1rem;
    width: 8rem;
    height: 2rem;
    font-weight: 400;
}
input {
    background-color:rgb(221, 189, 213);
    margin-bottom: 8px;
    border-radius: 4px;
    border-color: rgba(206, 206, 206, 0);
}
p {
    margin-top: -8px;
    margin-bottom: 44px;
    font-size: small;
}
img {
    width: 80px;
    margin-bottom: 8px;
}

.circle {
    height: 80px;
    width: 80px;
    background-color: rgb(121, 255, 255);
    border-radius: 50%;
    border-color: rgb(0, 0, 0);
    display: inline-block;
    margin-bottom: 8px;
}
.triangle {
    width: 0;
    height: 0;
    border: 45px solid transparent;
    border-top: 0;
    border-bottom: 70px solid rgb(121, 255, 255);
    margin-bottom: 8px;
}
.square {
    height: 80px;
    width: 80px;
    background-color: rgb(121, 255, 255);
    border-color: rgb(0, 0, 0);
    display: inline-block;
    margin-bottom: 8px;
}